<h1>Recipes</h1>

<% @recipes.each do |recipe| %>
  <p><%= link_to recipe.title, recipe_path(recipe) %> | <%= link_to 'Edit', edit_recipe_path(recipe) %></p>
<% end %>

<%= link_to 'New', new_recipe_path %>